<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Dashboard</title>
</head>
<body>
    <h1>Inicio</h1>

    <ul>
        <% if(typeof errors != 'undefined'){ %>
            <% errors.forEach(error => { %>
                <li><%= error.message %></li>
        <% }) %> <% } %>
    </ul>



    <h4>Bienvenido <%= user %></h4>
    <ul>
        <a href="/users/changePassword">Cambiar de contraseña</a>
    </ul>
    <ul>
        <a href="/users/logout">Cerrar sesión</a>
    </ul>
    
</body>
</html>